* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

$bg-btn-blue: #5267DF;
$bg-btn-light: #F7F7F7;
$bg-login: #FA5959;

$color-dark: #242A45;
$color-light: #FFFFFF;